export DATABASE_URL="postgres://user:pass@localhost:5432/mydb"
export JWT_SECRET_KEY="secret"
export TERN_CONFIG=tern.conf
export TERN_MIGRATIONS=database/migrations

export DB_USER=acerex
export DB_PASS=root
export DB_NAME=mydb
export DB_HOST=127.0.0.1
export DB_PORT=5432